node_modules
config.json
package-lock.json
package.json
.env
configs/*.json
node_modules/
DisccordBot.pem
member-board-games.csv
C:\Documents\discord-bot\commands\board-games\member-board-games.csv
C:\Documents\discord-bot\commands\utility\upcoming-events.csv